body {
    background: #eef3ff;
}

#map {
    width: 100%;
    height: 400px;
}

.card {
    padding: 6px;
    background: white;
    border-radius: 6px;
    border: none;
    box-shadow: #cbd6ee 0px 8px 24px;
}

.wrap-card-content {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.wrap-card-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-price {
    font-size: 13px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-body {
    padding: 8px;
}

.card-size {
    font-size: 11px;
    color: orangered;
}

.card-address {
    font-size: 12px;
    color: #9c9c9c;
}

.wrap-side-cards {
    padding-right: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.wrap-filter-menu {
    padding: 10px;
    background: white;
    overflow-x: auto;
}

.wrap-filter-menu button.btn.btn-light {
    width: max-content;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background: #91d1ff;
    font-weight: normal;
    color: #454545;
    border-radius: 50%;
    box-shadow: #d0ebff 0px 0px 8px;
}

.ui-widget-header {
    background: #c7e8ff;
    color: #333333;
    font-weight: bold;
    border: none !important;
}

.ui-widget.ui-widget-content {
    border: none;
    background: #e8f6ff;
}

.form-wrap-range {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-wrap-range input {
    border: none;
    background: #eee;
    outline: none;
    padding: 5px 10px;
    border-radius: 8px;
    width: 100%;
}

.hlr-btn {
    border: none;
    outline: none;
    padding: 0px 10px !important;
    border-radius: 6px;
    text-align: center;
    width: max-content;
    font-size: 11px;
    height: 27px;
    margin: 4px;
}

.hlr-btn-red {
    background: #ffe9e9;
    color: red;
    /* box-shadow: #ffdede 0px 0px 19px 0px; */
    border: 1px solid #ffdfdf;
}

.hlr-btn-blue {
    background: #e9eeff;
    color: #0037ff;
    /* box-shadow: #dee1ff 0px 0px 19px 0px; */
    border: 1px solid #dfe1ff;
}

.hlr-btn-green {
    background: #f1ffe9;
    color: #71c702;
    /* box-shadow: #efffde 0px 0px 19px 0px; */
    border: 1px solid #edffdf;
}

.hlr-btn-orange {
    background: #fff5e9;
    color: #d16b02;
    /* box-shadow: #ffefde 0px 0px 19px 0px; */
    border: 1px solid #ffefdf;
}

.hlr-btn-purple {
    background: #f1e9ff;
    color: #5b02d1;
    /* box-shadow: #efdeff 0px 0px 19px 0px; */
    border: 1px solid #eedfff;
}

.hlr-btn-grey {
    background: #f7f7f7;
    color: #919191;
    border: 1px solid #ececec;
}